.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;

}

.navbar-menu {
    display: none;
}

.navbar-logo{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img {
    width: 99px;
    /* height: 40px; */
}

.navbar-content {
    /* flex: 2; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: 0.5rem; */
}

.navbar-content p{
    font-family: var(--font-para);
    margin: 0 1.7rem;
    font-size: 16px;
    font-weight: 500;
    /* padding: 5px 3px; */
}

.navbar-content p:hover{
    color:aqua;

}

.navbar-content-mob {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color:var(--black-gradient) ;
    padding: 1rem 1.2rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    top: 60px;
    right: 0.5rem;
    border-radius: 5px;

}

.navbar-content-mob p{
    margin: 5px 0;
    font-family: var(--font-para);
    font-size: 11px;
    font-weight: 500;

}

@media screen and (max-width: 850px){
    .navbar-menu {
        display: flex;
    }

    .navbar-content{
        display: none;
    }
}

@media screen and (max-width:400px) { 
    .navbar-content-mob {
        padding: 0.7rem 1rem;
    }
    .navbar-content-mob p{
        margin: 4px 0;
        font-family: var(--font-para);
        font-size: 10px;
        font-weight: 500;
    
    }
}