.stats {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
}

.stats-content {
  padding: 0 2vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  margin: 0;
}

.stats-content h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: var(--font-para);
  display: flex;
  align-items: center;
}
.stats-content h2 span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 1vw;
}

@media screen and (max-width: 900px) {
  .stats-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 0;
    width: 100%;
  }

  .stats-content h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5vh 0;
    padding: 0;
  }
}

@media screen and (max-width: 440px) {
    .stats {
        padding: 0 32px ;
    }
  .stats-content h2 {
    font-size: 25px;
  }
  .stats-content h2 span {
    font-size: 15px;
  }
}
