body {
     background-color: var(--color-primary);
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

.section_padding {
    padding: 3rem 6rem;
  }

  .section_padding-home {
    padding: 3rem 0 3rem 6rem;
  }

  .section_margin {
    margin: 4rem 6rem;
  }
  
  @media screen and (max-width: 700) {
    .section_padding{
      padding: 2rem;
    }
    .section_margin{
      margin: 2rem;
    }
    .section_padding-home {
      padding: 2rem 0 2rem 2rem;
    }
  
  }
  
  @media screen and (max-width: 550px) {
    .section_padding{
      padding: 1.3rem 1.5rem;
    }

    .section_margin{
      margin: 2rem 1.5rem;
    }

    .section_padding-home {
      padding: 2rem 0 2rem 1.5rem;
    }
  }